<!-- BEGIN SIDEBPANEL-->
<nav class="page-sidebar" data-pages="sidebar">
  <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
  <div class="sidebar-overlay-slide from-top" id="appMenu">
    <div class="row">
      <div class="col-xs-6 no-padding">
        <a href="#" class="p-l-40"><%= image_tag "base/img/demo/social_app.svg", alt: "social" %>
        </a>
      </div>
      <div class="col-xs-6 no-padding">
        <a href="#" class="p-l-10"><%= image_tag "base/img/demo/email_app.svg", alt: "social" %>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 m-t-20 no-padding">
        <a href="#" class="p-l-40"><%= image_tag "base/img/demo/calendar_app.svg", alt: "social" %>
        </a>
      </div>
      <div class="col-xs-6 m-t-20 no-padding">
        <a href="#" class="p-l-10"><%= image_tag "base/img/demo/add_more.svg", alt: "social" %>
        </a>
      </div>
    </div>
  </div>
  <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
  <!-- BEGIN SIDEBAR MENU HEADER-->
  <div class="sidebar-header">
    <%= image_tag "logo/logo_white.png", alt: "logo", class: "brand", height: "16" %>
    <div class="sidebar-header-controls">
      <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" data-pages-toggle="#appMenu"><i class="fa fa-angle-down fs-16"></i>
      </button>
      <button type="button" class="btn btn-link visible-lg-inline" data-toggle-pin="sidebar"><i class="fa fs-12"></i>
      </button>
    </div>
  </div>
  <!-- END SIDEBAR MENU HEADER-->
  <!-- START SIDEBAR MENU -->
  <div class="sidebar-menu">
    <!-- BEGIN SIDEBAR MENU ITEMS-->
    <ul class="menu-items">
      <li class="m-t-30 ">
        <a href="index.html" class="detailed">
          <span class="title">Dashboard</span>
          <span class="details">12 New Updates</span>
        </a>
        <span class="bg-complete icon-thumbnail"><i class="pg-home"></i></span>
      </li>
      <li class="">
        <a href="#" class="">
          <span class="title">Accounts</span>
        </a>
        <span class="icon-thumbnail">A</span>
      </li>
      <li>
        <a href="javascript:;"><span class="title">Finance</span>
        <span class=" arrow"></span></a>
        <span class="icon-thumbnail"><i class="fa fa-credit-card"></i></span>
        <ul class="sub-menu">
          <li class="">
            <a href="calendar.html">Coupons</a>
            <span class="icon-thumbnail">C</span>
          </li>
          <li class="">
            <a href="calendar_lang.html">Plans</a>
            <span class="icon-thumbnail">Pl</span>
          </li>
          <li class="">
            <a href="calendar_lang.html">Payments</a>
            <span class="icon-thumbnail">Pa</span>
          </li>
          <li class="">
            <a href="calendar_month.html">Exceptions</a>
            <span class="icon-thumbnail">E</span>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;"><span class="title">Reports</span>
        <span class=" arrow"></span></a>
        <span class="icon-thumbnail"><i class="fa fa-pie-chart"></i></span>
        <ul class="sub-menu">
          <li class="">
            <a href="calendar.html">Activations</a>
            <span class="icon-thumbnail">A</span>
          </li>
          <li class="">
            <a href="calendar_lang.html">Users</a>
            <span class="icon-thumbnail">U</span>
          </li>
          <li class="">
            <a href="calendar_month.html">Projects</a>
            <span class="icon-thumbnail">Pj</span>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;"><span class="title">Manage</span>
        <span class=" arrow"></span></a>
        <span class="icon-thumbnail"><i class="fa fa-cog"></i></span>
        <ul class="sub-menu">
          <li class="">
            <a href="calendar.html">Accounts</a>
            <span class="icon-thumbnail">Ac</span>
          </li>
          <li class="">
            <a href="calendar_lang.html">Users</a>
            <span class="icon-thumbnail">U</span>
          </li>
        </ul>
      </li>

      <li>
        <a href="javascript:;"><span class="title">Monitoring</span>
        <span class=" arrow"></span></a>
        <span class="icon-thumbnail"><i class="fa fa-heartbeat"></i></span>
        <ul class="sub-menu">
          <li class="">
            <a href="calendar.html">Logs</a>
            <span class="icon-thumbnail">Lg</span>
          </li>
        </ul>
      </li>

      <li>
        <a href="javascript:;"><span class="title">Tools</span>
        <span class=" arrow"></span></a>
        <span class="icon-thumbnail"><i class="fa fa-wrench"></i></span>
        <ul class="sub-menu">
          <li class="">
            <a href="calendar.html">Console</a>
            <span class="icon-thumbnail">Co</span>
          </li>
        </ul>
      </li>

    </ul>
    <div class="clearfix"></div>
  </div>
  <!-- END SIDEBAR MENU -->
</nav>
<!-- END SIDEBAR -->
<!-- END SIDEBPANEL-->
